USE [master]
GO
/****** Object:  Database [dbEcommerce]    Script Date: 2/5/2025 18:12:59 ******/
CREATE DATABASE [dbEcommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbEcommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbEcommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbEcommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbEcommerce_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbEcommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbEcommerce]
GO
/****** Object:  Table [dbo].[tblProduktet]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduktet](
	[ID_Produkti] [int] IDENTITY(30000,1) NOT NULL,
	[ID_Biznesi] [int] NOT NULL,
	[ID_Kategoria] [int] NULL,
	[Emri_Prod] [nvarchar](100) NOT NULL,
	[Pershkrimi] [nvarchar](256) NULL,
	[Cmimi] [money] NOT NULL,
	[Foto] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Produkti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnKerkoProduktin]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[fnKerkoProduktin] (@Emri NVARCHAR(100))
RETURNS TABLE 
AS
RETURN 
(
	SELECT * FROM tblProduktet WHERE Emri_Prod LIKE '%' + @Emri + '%'
)
GO
/****** Object:  Table [dbo].[tblPerdoruesit]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPerdoruesit](
	[ID_Perdoruesi] [int] IDENTITY(10000,1) NOT NULL,
	[Emri] [nvarchar](30) NOT NULL,
	[Mbiemri] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[UserType] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perdoruesi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnKerkoPerdoruesin]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[fnKerkoPerdoruesin]
(	
	@Email NVARCHAR(MAX),
	@Password NVARCHAR(MAX)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT ID_Perdoruesi, UserType, Email FROM tblPerdoruesit WHERE Email=@Email AND Password=@Password
)
GO
/****** Object:  Table [dbo].[tblShporta]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShporta](
	[ID_Shporta] [int] IDENTITY(40000,1) NOT NULL,
	[ID_Perdoruesi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Shporta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCartItems]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCartItems](
	[ID_Added] [int] IDENTITY(50000,1) NOT NULL,
	[ID_Shporta] [int] NOT NULL,
	[ID_Produkti] [int] NOT NULL,
	[Sasia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Added] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCartDetails]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[fnCartDetails] (@UserID INT) 
RETURNS TABLE 
AS
RETURN 
(
	SELECT cart.ID_Shporta AS CartID, cart.ID_Produkti AS ProductID, cart.Sasia AS Quantity, prod.Emri_Prod AS Name, prod.Cmimi AS Price, prod.Foto AS Image
		FROM tblCartItems cart INNER JOIN tblProduktet prod ON cart.ID_Produkti = prod.ID_Produkti WHERE cart.ID_Shporta = (SELECT ID_shporta FROM tblShporta WHERE ID_Perdoruesi=@UserID)
)
GO
/****** Object:  UserDefinedFunction [dbo].[fnPaymentDetails]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[fnPaymentDetails] (@UserID INT)
RETURNS TABLE 
AS
RETURN 
(
	SELECT cart.ID_Produkti AS ProductID, cart.Sasia AS Quantity, prod.Cmimi AS Price, prod.Emri_Prod as Name
		FROM tblCartItems cart INNER JOIN tblProduktet prod ON cart.ID_Produkti = prod.ID_Produkti WHERE cart.ID_Shporta = (SELECT ID_shporta FROM tblShporta WHERE ID_Perdoruesi=@UserID)
)
GO
/****** Object:  Table [dbo].[tblPorosite]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPorosite](
	[ID_Porosia] [int] IDENTITY(60000,1) NOT NULL,
	[ID_Perdoruesi] [int] NOT NULL,
	[Pagesa] [money] NOT NULL,
	[DataKoha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Porosia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnOrderInfo]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnOrderInfo] (@UserID INT)
RETURNS TABLE 
AS
RETURN 
(
	SELECT ID_Porosia AS OrderID, DataKoha AS OrderDate, Pagesa AS Payment FROM tblPorosite WHERE ID_Perdoruesi = @UserID
)
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[ID_Detajet] [int] IDENTITY(70000,1) NOT NULL,
	[ID_Porosia] [int] NOT NULL,
	[ID_Produkti] [int] NOT NULL,
	[Sasia] [int] NULL,
	[Cmimi] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detajet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnOrderDetails]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnOrderDetails](@OrderID INT)
RETURNS TABLE 
AS
RETURN 
(
	SELECT details.ID_Produkti as ProductID, prod.Emri_Prod as Name, prod.Foto as Image, details.Sasia as Quantity, prod.Cmimi as Price 
		FROM tblOrderDetails details INNER JOIN tblProduktet prod ON details.ID_Produkti = prod.ID_Produkti WHERE ID_Porosia = @OrderID
)
GO
/****** Object:  Table [dbo].[tblBizneset]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBizneset](
	[ID_Biznesi] [int] IDENTITY(20000,1) NOT NULL,
	[Emri] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Biznesi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKategorite]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKategorite](
	[ID_Kategoria] [int] IDENTITY(1,1) NOT NULL,
	[Kategoria] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Kategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCartItems] ADD  DEFAULT ((1)) FOR [Sasia]
GO
ALTER TABLE [dbo].[tblOrderDetails] ADD  DEFAULT ((1)) FOR [Sasia]
GO
ALTER TABLE [dbo].[tblPerdoruesit] ADD  DEFAULT ('User') FOR [UserType]
GO
ALTER TABLE [dbo].[tblPorosite] ADD  DEFAULT (getdate()) FOR [DataKoha]
GO
ALTER TABLE [dbo].[tblCartItems]  WITH CHECK ADD FOREIGN KEY([ID_Produkti])
REFERENCES [dbo].[tblProduktet] ([ID_Produkti])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblCartItems]  WITH CHECK ADD FOREIGN KEY([ID_Shporta])
REFERENCES [dbo].[tblShporta] ([ID_Shporta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD FOREIGN KEY([ID_Porosia])
REFERENCES [dbo].[tblPorosite] ([ID_Porosia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD FOREIGN KEY([ID_Produkti])
REFERENCES [dbo].[tblProduktet] ([ID_Produkti])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPorosite]  WITH CHECK ADD FOREIGN KEY([ID_Perdoruesi])
REFERENCES [dbo].[tblPerdoruesit] ([ID_Perdoruesi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblProduktet]  WITH CHECK ADD FOREIGN KEY([ID_Biznesi])
REFERENCES [dbo].[tblBizneset] ([ID_Biznesi])
GO
ALTER TABLE [dbo].[tblProduktet]  WITH CHECK ADD FOREIGN KEY([ID_Kategoria])
REFERENCES [dbo].[tblKategorite] ([ID_Kategoria])
GO
ALTER TABLE [dbo].[tblShporta]  WITH CHECK ADD FOREIGN KEY([ID_Perdoruesi])
REFERENCES [dbo].[tblPerdoruesit] ([ID_Perdoruesi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPerdoruesit]  WITH CHECK ADD  CONSTRAINT [CUser] CHECK  (([UserType]='User' OR [UserType]='Business' OR [UserType]='Admin'))
GO
ALTER TABLE [dbo].[tblPerdoruesit] CHECK CONSTRAINT [CUser]
GO
/****** Object:  StoredProcedure [dbo].[deleteFromCart]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[deleteFromCart] (@UserID INT, @ProductID INT)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @CartID INT
	SELECT @CartID = ID_Shporta FROM tblShporta WHERE ID_Perdoruesi = @UserID

	IF @CartID IS NULL
    BEGIN
        RETURN -1;
    END

	DELETE FROM tblCartItems WHERE ID_Shporta = @CartID AND ID_Produkti = @ProductID

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[prAddToCart]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prAddToCart](@ID_Perdoruesi INT, @ProductID INT)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CartID INT;

	SET @CartID = (SELECT ID_Shporta 
	FROM tblShporta 
	WHERE ID_Perdoruesi = @ID_Perdoruesi);

	IF EXISTS (
		SELECT ID_Added FROM tblCartItems WHERE ID_Shporta = @CartID AND ID_Produkti = @ProductID
	) BEGIN
		UPDATE tblCartItems SET Sasia = Sasia + 1 WHERE ID_Shporta = @CartID AND ID_Produkti = @ProductID
	END
	ELSE
	BEGIN
		INSERT INTO tblCartItems (ID_Shporta, ID_Produkti, Sasia) VALUES (@CartID, @ProductID, 1)
	END

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[prEditProduct]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prEditProduct] (@ProductID INT, @Name NVARCHAR(50), @Description NVARCHAR(MAX), @Price MONEY, @Image NVARCHAR(MAX))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE tblProduktet SET Emri_Prod = @Name, Pershkrimi = @Description, Cmimi = @Price, Foto = @Image WHERE ID_Produkti = @ProductID

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[prEditUser]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prEditUser] (@UserID INT, @Name NVARCHAR(50), @LastName NVARCHAR(50), @Password NVARCHAR(MAX))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE tblPerdoruesit SET Emri = @Name, Mbiemri = @LastName, Password = @Password WHERE ID_Perdoruesi = @UserID

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[prPlaceOrder]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prPlaceOrder] (@UserID INT)
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @CartID INT
	DECLARE @OrderID INT
	DECLARE @Total DECIMAL(18, 2) = 0.00

	SET @CartID = (SELECT ID_Shporta 
	FROM tblShporta 
	WHERE ID_Perdoruesi = @UserID);

	IF @CartID IS NULL
    BEGIN
        RETURN -1;
    END

	SELECT @Total = SUM(cart.Sasia * prod.Cmimi) FROM tblCartItems cart INNER JOIN tblProduktet prod ON cart.ID_Produkti = prod.ID_Produkti WHERE cart.ID_Shporta = @CartID;

	INSERT INTO tblPorosite (ID_Perdoruesi, Pagesa, DataKoha) VALUES (@UserID, @Total, GETDATE())
	SET @OrderID = SCOPE_IDENTITY();

	INSERT INTO tblOrderDetails (ID_Porosia, ID_Produkti, Sasia, Cmimi) SELECT @OrderID, cart.ID_Produkti AS ProductID, cart.Sasia AS Quantity, prod.Cmimi AS Price
    FROM tblCartItems cart INNER JOIN tblProduktet prod ON cart.ID_Produkti = prod.ID_Produkti WHERE cart.ID_Shporta = @CartID;

	DELETE FROM tblCartItems WHERE ID_Shporta = @CartID;
	
	RETURN 1
END

SELECT * FROM tblPorosite
SELECT * FROM tblOrderDetails

SELECT * FROM tblShporta
SELECT * FROM tblCartItems
GO
/****** Object:  StoredProcedure [dbo].[prPostProducts]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prPostProducts] (
	@ID_Biznesi INT, 
	@ID_Kategoria INT = 11, 
	@Emri NVARCHAR(100), 
	@Pershkrimi NVARCHAR(MAX) = 'No description provided', 
	@Image NVARCHAR(MAX) = 'images/products/no-image.jpg',
	@Price MONEY
)
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO tblProduktet (ID_Biznesi, ID_Kategoria, Emri_Prod, Pershkrimi, Foto, Cmimi) 
		VALUES (@ID_Biznesi, @ID_Kategoria, @Emri, @Pershkrimi, @Image, @Price)

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[prSignup]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prSignup](@emri NVARCHAR(30), @mbiemri NVARCHAR(30), @email NVARCHAR(100), @password NVARCHAR(MAX), @role NVARCHAR(20))
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO tblPerdoruesit (Emri, Mbiemri, Email, Password, UserType) VALUES (@emri, @mbiemri, @email, @password, @role)

	IF @role = 'Business'
	BEGIN
		INSERT INTO tblBizneset (Emri, Email, Password) VALUES (@emri, @email, @password)
	END

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[prSignupBizneset]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prSignupBizneset](@emri NVARCHAR(30), @email NVARCHAR(100), @password NVARCHAR(MAX))
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO tblBizneset(Emri, Email, Password) VALUES (@emri, @email, @password)

	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[updateQuantity]    Script Date: 2/5/2025 18:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateQuantity] (@UserID INT, @ProductID INT, @Quantity INT)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @CartID INT
	SELECT @CartID = ID_Shporta FROM tblShporta WHERE ID_Perdoruesi = @UserID

	IF @CartID IS NULL
    BEGIN
        RETURN -1;
    END

	UPDATE tblCartItems SET Sasia = @Quantity WHERE ID_Shporta = @CartID AND ID_Produkti = @ProductID

	RETURN 1
END
GO
USE [master]
GO
